@import url('https://fonts.googleapis.com/css?family=Abel|Bungee');

body{
  font-family: 'Abel', sans-serif;  line-height: 1.25;
}
h1 { 
    font-family: 'Abel', sans-serif;  line-height: 1.25;
    display: block;
    font-size: 2em;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}
#c-green {
    background: #8CE14A;
    width: 16px;
    height: 16px;
    border-radius: 50%;
}
#c-red {
    background: #ff6666;
    width: 16px;
    height: 16px;
    border-radius: 50%;
}

.table thead>tr>th, .table tbody>tr>th, .table tfoot>tr>th, .table thead>tr>td, .table tbody>tr>td, .table tfoot>tr>td
{
    vertical-align: middle;
}